    Component.onCompleted: {

        if(!testSchemeModel()){
            console.log("进入兼容报错窗口！")
            loader.sourceComponent = anErroWindow
            loader.item;
        }else{
        reBuildDB.checked = SettingsHelper.getBoolFromYaml("controlBehaviorOnScreen","reBuildDB")
        reLoadPage();
        }


    }

    function testSchemeModel(){

        //防止模版错误
        const ok1 = myUniversalYamlTool.testExistItem("  - name: transcription※  - name: emoji")
        const ok2 = myUniversalYamlTool.testExistItem("menu:※  page_size:")
        const ok3 = myUniversalYamlTool.testExistItem("melt_eng:※  - name: ascii_punct")

        console.log("打印【薄荷】兼容性测试结果："+ ok1 +","+ ok2 +","+  ok3)
        return ok1 && ok2 && ok3


    }


    function reLoadPage(){

        if(myUniversalYamlTool.testExistItem("accept: Return※send: Escape")){
            // console.log("经验测，Return有值！")
            cleanCodeByEnter.checked  = true;
        }else{
            // console.log("经验测，Return无值！")
            cleanCodeByEnter.checked  = false
        }
        if(myUniversalYamlTool.testExistItem("accept: semicolon※send: 2")){
            // console.log("经验测，Return有值！")
            selectBysemicolon.checked  = true;
        }else{
            // console.log("经验测，Return无值！")
            selectBysemicolon.checked  = false
        }



        myUniversalYamlTool.vistAnyNode("switches:","  - name: transcription","    reset:", true);
        useTradition.checked = myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("switches:", "  - name: ascii_mode", "    reset:", true);
        useAscii.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("switches:","  - name: emoji","    reset:", true);
        showEmoji.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("switches:","  - name: ascii_punct","    reset:", true);
        useENGPunc.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("switches:","  - name: full_shape","    reset:", true);
        showFull_shape.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("engine:","translator:","  enable_user_dict:", true);
        useAutoFre.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("engine:","melt_eng:","  enable_sentence:", true);
        useAutoPhrase.checked= myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("engine:","melt_eng:","  enable_completion:", true);
        useNextTips.checked = myUniversalYamlTool.getCurrentListBool();

        myUniversalYamlTool.vistAnyNode("switches:","menu:","  page_size:", true);
        candidatesCount.value = myUniversalYamlTool.getCurrentListInt();

        if(candidatesCount.value>9){//大于9，是非法的
            candidatesCount.value = 9
        }
        else if(candidatesCount.value<=2){
            candidatesCount.value = 2
        }
        console.log("捕获的 candidatesCount.value 是："+candidatesCount.value)
        getMainDictForCurrentSchemaID()
    }

    function getMainDictForCurrentSchemaID(){

        myUniversalYamlTool.vistAnyNode("schema:","translator:","  dictionary:", true);
        let nameFirst = myUniversalYamlTool.getCurrentListStr();
        console.log("当前主翻译器的词典名称："+nameFirst)
        let nameSec = userDictRoot + "/"+ nameFirst + ".dict.yaml"
        console.log("当前主词库名称："+nameSec)
        let nameLast = myUniversalYamlTool.vistAnyNodeByAnyYaml(nameSec,"name:", "import_tables:","  - dicts/", false)
        nameLast = nameLast.replace(/\s*-\s*/, "");
        console.log("捕获的是："+ nameLast + ".dict.yaml")
        let setStr = nameLast
        setStr = setStr.replace(/[\/.]/g, '')
        dBNameForCurrent = setStr
        controlBehaviorOnScreen.currentMainDictFirst= nameLast + ".dict.yaml"
    }
